{% extends "base.html" %}
{% block content %}
<section class="komunita">
    <h1 class="section-title"> Punková komunita</h1>

    <p class="text-center intro-text">
        Přidej se k naší komunitě rebelů!  
        Diskutuj o kapelách, koncertech, nových deskách nebo prostě pokec o životě.  
        <br>
        Na našem Discordu to žije 24/7 — tak naskoč mezi nás!
    </p>

    <div class="discord-join">
        <h2> Připoj se na Discord</h>
        <br>
        <a href="https://discord.gg/VCCnc9qu" target="_blank" class="btn-discord">
            Připojit se na Discord 
        </a>
    </div>
</section>
{% endblock %}

